<div class="login-container">
  <div class="login-card">
    <div class="header">
      <h2>問卷調查系統</h2>
    </div>

    <div class="input-group">
      <p>電子郵件</p>
      <input type="text" [(ngModel)]="login.email" placeholder="請輸入電子郵件">
    </div>

    <div class="input-group">
      <p>密碼</p>
      <input type="password" [(ngModel)]="login.password" placeholder="請輸入密碼">
    </div>

    <div class="forgot-pwd">
      <label routerLink="/change-pwd">忘記密碼?</label>
    </div>

    <div class="action-section">
      <button class="btn-login" (click)="loginSubmit()">登入</button>
    </div>

    <div class="footer">
      <p>還沒有帳號嗎?</p>
      <a routerLink="/registration" class="link-blue">立即註冊帳號</a>
    </div>

    <div class="admin-entry">
      <p (click)="openDialog()">後台登入</p>
    </div>
  </div>
</div>
